@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f97416;
  --color-secondary: teal;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.my-btn {
  background-color: #f97416;
}
.my-btn:hover {
  background-color: #e67e0d;
}

