@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

body{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.my-btn {
  background-color: #1EA1F1;
  border-color: #1EA1F1;
}
.my-btn:hover {
  background-color: #1C96E1;
  border-color: #1C96E1;
}
